* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {

}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: .5rem;
}

header {
    position: relative;
    margin-bottom: 10rem;
}

.portada_container {
    width: 100%;
    height: 300px;
    position: relative;
}

.portada_container span {
    background-image: url(./portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ramiro {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
}

.profile_image_container {
    margin-top: 0;
    border: 2px solid #000;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

.profile_image {
    width: 15rem;
    vertical-align:middle;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10rem 20rem;
}

.skills img {
    margin: 2rem;
}

@media (max-width: 1280px) {
    .skills {
        margin: 10rem 5rem;
    }
}